In [1]:
# working function, revised from ext_strat_phrases

import csv, codecs
from urllib.request import urlopen
from pprint import pprint

def download_csv(url):
    '''INPUT: string url address
       RETRUNS: dictionary with headers'''
    
    # return variable
    data_dict = {}
    
    # get url from user
    #url = input('Gimme a url to process:')
    
    data = urlopen(url)
    csv_file = csv.reader(codecs.iterdecode(data, 'utf-8'))
    
    # create list of tuples with list(zip)
    # unpack csv as list of tuples
    # length of VARIABLE == number of fields
    # length of VARIABLE[i] == number of rows
    # VARIABLE[i][0] == header name
    columns = list(zip(*csv_file))
    
    # set key names to field names (headers in the csv)
    for field in columns:
        data_dict[field[0]] = field[1:]
    
    data_dict['headers'] = sorted(data_dict.keys())
    
    return data_dict

In [2]:
strat_dict = download_csv('https://macrostrat.org/api/defs/strat_names?all&format=csv')
print('done with strat')
interval_dict = download_csv('https://macrostrat.org/api/defs/intervals?all&format=csv')
print('done with intervals')
environment_dict = download_csv('https://macrostrat.org/api/defs/environments?all&format=csv')
print('done with environments')

done with strat
done with intervals
done with environments

In [3]:
from pprint import pprint

print('STRAT DICT: ', strat_dict['headers'])
print('INTERVAL DICT: ', interval_dict['headers'])
print('ENVIRON DICT: ', environment_dict['headers'])

STRAT DICT:  ['b_age', 'b_period', 'bed', 'bed_id', 'c_interval', 'concept_id', 'fm', 'fm_id', 'gp', 'gp_id', 'mbr', 'mbr_id', 'rank', 'ref_id', 'sgp', 'sgp_id', 'strat_name', 'strat_name_id', 'strat_name_long', 'subgp', 'subgp_id', 't_age', 't_period', 't_units']
INTERVAL DICT:  ['abbrev', 'b_age', 'color', 'int_id', 'int_type', 'name', 't_age', 'timescales']
ENVIRON DICT:  ['class', 'color', 'environ_id', 'name', 't_units', 'type']

In [4]:
import pandas as pd

In [5]:
# as a pandsa series
my_panda_series = pd.Series(data=strat_dict, index=strat_dict['headers'])
my_panda_series

b_age              (0.0029, 323.2, 323.2, 323.2, 323.2, 323.2, 32...
b_period           (Quaternary, Carboniferous, Carboniferous, Car...
bed                (1980 St Helens Ash, 22 Yard Coal, 27 Yard Coa...
bed_id             (6808, 92986, 92987, 92988, 92989, 92990, 9299...
c_interval         (Holocene, Bashkirian, Pennsylvanian, Bashkiri...
concept_id         (0, 36374, 36819, 32110, 36465, 30792, 30871, ...
fm                 (, Pennine Lower Coal Measures, Pennine Middle...
fm_id              (0, 98660, 98661, 98660, 98660, 98660, 98660, ...
gp                 (, Pennine Coal Measures, Pennine Coal Measure...
gp_id              (0, 98659, 98659, 98659, 98659, 98659, 98659, ...
mbr                (, , , , , , , , A'Mharagach, , , , Aagot, Aar...
mbr_id             (0, 0, 0, 0, 0, 0, 0, 0, 92993, 0, 0, 0, 90930...
rank               (Bed, Bed, Bed, Bed, Bed, Bed, Bed, Bed, Mbr, ...
ref_id             (1, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 36...
sgp                (, , , , , , , , New Red Sandstone, Moine, , ,...
sgp_id             (0, 0, 0, 0, 0, 0, 0, 0, 98288, 98044, 0, 0, 0...
strat_name         (1980 St Helens Ash, 22 Yard Coal, 27 Yard Coa...
strat_name_id      (6808, 92986, 92987, 92988, 92989, 92990, 9299...
strat_name_long    (1980 St Helens Ash Bed, 22 Yard Coal Bed, 27 ...
subgp              (, , , , , , , , , , , , , , , , , , , , Busta...
subgp_id           (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
t_age              (0, 315.2, 307, 315.2, 315.2, 315.2, 315.2, 31...
t_period           (Quaternary, Carboniferous, Carboniferous, Car...
t_units            (1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
dtype: object

In [8]:
my_panda_dataframe = pd.DataFrame(data=my_panda_series)
my_panda_dataframe

                                                                 0
b_age            (0.0029, 323.2, 323.2, 323.2, 323.2, 323.2, 32...
b_period         (Quaternary, Carboniferous, Carboniferous, Car...
bed              (1980 St Helens Ash, 22 Yard Coal, 27 Yard Coa...
bed_id           (6808, 92986, 92987, 92988, 92989, 92990, 9299...
c_interval       (Holocene, Bashkirian, Pennsylvanian, Bashkiri...
concept_id       (0, 36374, 36819, 32110, 36465, 30792, 30871, ...
fm               (, Pennine Lower Coal Measures, Pennine Middle...
fm_id            (0, 98660, 98661, 98660, 98660, 98660, 98660, ...
gp               (, Pennine Coal Measures, Pennine Coal Measure...
gp_id            (0, 98659, 98659, 98659, 98659, 98659, 98659, ...
mbr              (, , , , , , , , A'Mharagach, , , , Aagot, Aar...
mbr_id           (0, 0, 0, 0, 0, 0, 0, 0, 92993, 0, 0, 0, 90930...
rank             (Bed, Bed, Bed, Bed, Bed, Bed, Bed, Bed, Mbr, ...
ref_id           (1, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 36...
sgp              (, , , , , , , , New Red Sandstone, Moine, , ,...
sgp_id           (0, 0, 0, 0, 0, 0, 0, 0, 98288, 98044, 0, 0, 0...
strat_name       (1980 St Helens Ash, 22 Yard Coal, 27 Yard Coa...
strat_name_id    (6808, 92986, 92987, 92988, 92989, 92990, 9299...
strat_name_long  (1980 St Helens Ash Bed, 22 Yard Coal Bed, 27 ...
subgp            (, , , , , , , , , , , , , , , , , , , , Busta...
subgp_id         (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
t_age            (0, 315.2, 307, 315.2, 315.2, 315.2, 315.2, 31...
t_period         (Quaternary, Carboniferous, Carboniferous, Car...
t_units          (1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...