In [1]:
import csv, codecs
from urllib.request import urlopen
from pprint import pprint

In [2]:
url = 'https://macrostrat.org/api/defs/strat_names?all&format=csv'

In [3]:
data = urlopen(url)

In [4]:
type(data)

http.client.HTTPResponse

In [5]:
csv_file = csv.reader(codecs.iterdecode(data, 'utf-8'))

In [6]:
# create a list of tuples with list(zip)
# unpack csv as list of tuples
# length of VARIABLE == number of fields
# length of VARIABLE[i] == number of rows
# VARIABLE[0] == header name
columns = list(zip(*csv_file))

In [7]:
# length of VARIABLE == number of fields
len(columns)

24

In [8]:
# length of VARIABLE[i] == number of rows
len(columns[0])

45635

In [9]:
for item in columns:
    print(item[0])

strat_name
strat_name_long
rank
strat_name_id
concept_id
bed
bed_id
mbr
mbr_id
fm
fm_id
subgp
subgp_id
gp
gp_id
sgp
sgp_id
b_age
t_age
b_period
t_period
c_interval
t_units
ref_id

In [10]:
# set key names to field names (headers in the csv)
data_dict = {}
for field in columns:
    column_name = field[0]
    column_values = field[1:]
    data_dict[column_name] = column_values

In [11]:
data_dict.keys()

dict_keys(['strat_name', 'strat_name_long', 'rank', 'strat_name_id', 'concept_id', 'bed', 'bed_id', 'mbr', 'mbr_id', 'fm', 'fm_id', 'subgp', 'subgp_id', 'gp', 'gp_id', 'sgp', 'sgp_id', 'b_age', 't_age', 'b_period', 't_period', 'c_interval', 't_units', 'ref_id'])

In [12]:
data_dict['headers'] = sorted(data_dict.keys())

In [13]:
import pandas as pd

data_series = pd.Series(data_dict)
print(data_series)

strat_name         (1980 St Helens Ash, 22 Yard Coal, 27 Yard Coa...
strat_name_long    (1980 St Helens Ash Bed, 22 Yard Coal Bed, 27 ...
rank               (Bed, Bed, Bed, Bed, Bed, Bed, Bed, Bed, Mbr, ...
strat_name_id      (6808, 92986, 92987, 92988, 92989, 92990, 9299...
concept_id         (0, 36374, 36819, 32110, 36465, 30792, 30871, ...
bed                (1980 St Helens Ash, 22 Yard Coal, 27 Yard Coa...
bed_id             (6808, 92986, 92987, 92988, 92989, 92990, 9299...
mbr                (, , , , , , , , A'Mharagach, , , , Aagot, Aar...
mbr_id             (0, 0, 0, 0, 0, 0, 0, 0, 92993, 0, 0, 0, 90930...
fm                 (, Pennine Lower Coal Measures, Pennine Middle...
fm_id              (0, 98660, 98661, 98660, 98660, 98660, 98660, ...
subgp              (, , , , , , , , , , , , , , , , , , , , Busta...
subgp_id           (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
gp                 (, Pennine Coal Measures, Pennine Coal Measure...
gp_id              (0, 98659, 98659, 98659, 98659, 98659, 98659, ...
sgp                (, , , , , , , , New Red Sandstone, Moine, , ,...
sgp_id             (0, 0, 0, 0, 0, 0, 0, 0, 98288, 98044, 0, 0, 0...
b_age              (0.0029, 323.2, 323.2, 323.2, 323.2, 323.2, 32...
t_age              (0, 315.2, 307, 315.2, 315.2, 315.2, 315.2, 31...
b_period           (Quaternary, Carboniferous, Carboniferous, Car...
t_period           (Quaternary, Carboniferous, Carboniferous, Car...
c_interval         (Holocene, Bashkirian, Pennsylvanian, Bashkiri...
t_units            (1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
ref_id             (1, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 36...
headers            [b_age, b_period, bed, bed_id, c_interval, con...
dtype: object

In [14]:
print(len(data_series['fm']))
print(len(data_series['headers']))

45634
24

In [15]:
data_frame = pd.DataFrame(data=data_series)
data_frame

                                                                 0
strat_name       (1980 St Helens Ash, 22 Yard Coal, 27 Yard Coa...
strat_name_long  (1980 St Helens Ash Bed, 22 Yard Coal Bed, 27 ...
rank             (Bed, Bed, Bed, Bed, Bed, Bed, Bed, Bed, Mbr, ...
strat_name_id    (6808, 92986, 92987, 92988, 92989, 92990, 9299...
concept_id       (0, 36374, 36819, 32110, 36465, 30792, 30871, ...
bed              (1980 St Helens Ash, 22 Yard Coal, 27 Yard Coa...
bed_id           (6808, 92986, 92987, 92988, 92989, 92990, 9299...
mbr              (, , , , , , , , A'Mharagach, , , , Aagot, Aar...
mbr_id           (0, 0, 0, 0, 0, 0, 0, 0, 92993, 0, 0, 0, 90930...
fm               (, Pennine Lower Coal Measures, Pennine Middle...
fm_id            (0, 98660, 98661, 98660, 98660, 98660, 98660, ...
subgp            (, , , , , , , , , , , , , , , , , , , , Busta...
subgp_id         (0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
gp               (, Pennine Coal Measures, Pennine Coal Measure...
gp_id            (0, 98659, 98659, 98659, 98659, 98659, 98659, ...
sgp              (, , , , , , , , New Red Sandstone, Moine, , ,...
sgp_id           (0, 0, 0, 0, 0, 0, 0, 0, 98288, 98044, 0, 0, 0...
b_age            (0.0029, 323.2, 323.2, 323.2, 323.2, 323.2, 32...
t_age            (0, 315.2, 307, 315.2, 315.2, 315.2, 315.2, 31...
b_period         (Quaternary, Carboniferous, Carboniferous, Car...
t_period         (Quaternary, Carboniferous, Carboniferous, Car...
c_interval       (Holocene, Bashkirian, Pennsylvanian, Bashkiri...
t_units          (1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
ref_id           (1, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 36...
headers          [b_age, b_period, bed, bed_id, c_interval, con...